<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<form class="pure-form" action="/chart" >
    <fieldset>
        <legend>Login</legend>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="remember">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button notice">Sign in</button>
    </fieldset>
</form>
<center><img src="../static/img/BearBull.jpg" height="20%" width="20%"></center>
{% endblock %}